*.shader linguist-detectable=false
*.shadergraph linguist-detectable=false
*.cginc linguist-detectable=false
*.compute linguist-detectable=false
*.hlsl linguist-detectable=false
*.glsl linguist-detectable=false

*.cs linguist-detectable=true
*.cs linguist-language=C#
